Repository atoma-network/atoma-infer, pull requests merged in 2024-07, with the labels that each got.

#13 feat: introduce flash attention with variable length
  csrc/build.rs
  csrc/kernels/flash_api.cu
  csrc/kernels/flash_fwd_kernel.h
  csrc/src/ffi.rs
  csrc/src/lib.rs
  csrc/tests/flash_attn_tests.rs
Labels: enhancement, paged-attention, cuda, candle, flash-attention2

#16 feat: flash attention kernels with kvcache
  csrc/kernels/flash_api.cu
  csrc/src/ffi.rs
  csrc/src/lib.rs
  csrc/tests/flash_attn_tests.rs
Labels: paged-attention, cuda, candle, flash-attention2, optimization

#18 feat: improve `ops` code readibility and add comments
  csrc/src/ops.rs
  csrc/tests/cache_manager_tests.rs
Labels: documentation, paged-attention

#20 update
  csrc/kernels/cache_manager.cu
  csrc/src/cache_manager.rs
  csrc/tests/cache_manager_tests.rs
Labels: cuda, candle, testing, flash-attention2

#19 feat: add reshape and cache logic
  csrc/kernels/cache_manager.cu
  csrc/src/cache_manager.rs
  csrc/src/ffi.rs
  csrc/tests/cache_manager_tests.rs
Labels: enhancement, paged-attention, cuda, candle, flash-attention2, optimization

#27 fix: flash attn tests
  csrc/Cargo.toml
  csrc/tests/flash_attn_tests.rs
Labels: cuda, flash-attention2

#26 feat: flash attention integration for model inference
  Cargo.toml
  csrc/kernels/cache_manager.cu
  csrc/src/cache_manager.rs
  csrc/src/lib.rs
  csrc/src/ops.rs
  csrc/tests/flash_attn_tests.rs
  src/flash_attention.rs
  src/lib.rs
  src/models/llama.rs
  src/models/mod.rs
Labels: llama, paged-attention, cuda, candle, flash-attention2, models

#29 fix: bug of bad use of `slice_assign`, add further tests
  csrc/tests/cache_manager_tests.rs
  csrc/tests/flash_attn_tests.rs
  src/flash_attention.rs
Labels: cuda, candle, testing, flash-attention2

#31 feat: add constructor to flash attention metadata struct
  src/flash_attention.rs
Labels: paged-attention, cuda, candle
